<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Blackjack - Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <h1>Bienvenido a Blackjack</h1>
    <form action="/start" method="post">
        <label for="player_name" class="player-label" placeholder="Escribe tu Nombre" required>Escribe tu Nombre:</label>
        <input type="text" id="player_name" name="player_name" required class="player-input">
        <button type="submit">Comenzar Juego</button>
    </form>
</body>
</html>
